@using InitiativeTracker.Domain.Entities
@model IEnumerable<Encounter>

@{
    ViewBag.Title = "Summary";
}

<div class="section panel panel-primary">
    <div class="panel-heading">Current Encounters</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr><th>Name</th><th></th></tr>
            </thead>
            <tbody>
                @foreach(Encounter item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@item.Name,"Edit", new { id = @item.Encounter_ID })
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "Delete", new { id = @item.Encounter_ID }, new { @class = "btn btn-xs btn-default" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>